* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: #1a1a29;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-height: 100vh;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

.container a img {
  align-self: center;
  width: 160px;
  padding: 3.7px;
}

.container h1 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 32px;
  line-height: 40px;
  color: white;
}

.container p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  opacity: 0.8;
  font-size: 14px;
  line-height: 18px;
  width: 300px;
}

ul {
  list-style: none;
  margin: 48px 0 0;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, #da1381 0%, #7562e0 100%);
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  transition: all 400ms ease-in-out;
}

ul li a:hover {
  transform: scale(1.1);
}

#p-footer {
  font-weight: 500;
  font-size: 12px;
  color: white;
  opacity: 0.8;
}
